html {
 min-height: 100%;
  position: relative;
  /* background-position: center;
  background-image: url("clark.png");
  background-size: cover; */
}
body {
  /* width: 100%; 
  height: 100%;  */
 margin-bottom: 60px;
 background-position: center;
 background-image: url("../images/clark.png");
 background-size: cover;
 

} 

body {
  /* font-family: 'Gloria Hallelujah', cursive; */
  font-family: 'Share Tech', sans-serif;
}

hr {
  max-width: 65px;
  border-width: 3px;
  border-color: rgb(175, 167, 166); 
}

#hrPort {
  max-width: 200px;
  border-width: 3px;
  border-color: rgb(175, 167, 166); 
}

.faded {
  color: rgba(255, 255, 255, 0.8); 
}

.navbar-brand {
  /* font-family: 'Gloria Hallelujah', cursive; */
  /* font-family: 'Share Tech', sans-serif; */
  font-family: 'Gruppo', cursive;
  color: grey;
}

.navbar-light .navbar-brand:hover {
  color: white;
}

.nav-link {
  /* font-family: 'Gloria Hallelujah', cursive; */
  font-family: 'Share Tech', sans-serif;
}

h1 {
  /* font-family: 'Gloria Hallelujah', cursive; */
  font-family: 'Share Tech', sans-serif;
  text-align: center;
}

 header.startup {
  /* background-position: center;
  background-image: url("clark.png");
  background-size: cover; */
  height: 100%; 
  margin-top: 135px;
  margin-bottom: 150px;
} 

header.startup2 {
  /* background-position: center;
  background-image: url("clark.png");
  background-size: cover; */
  height: 100%; 
  margin-top: 100px;
  margin-bottom: 150px;
} 

header.startup hr {
  margin-top: 200px;
  margin-bottom: 30px; 
}

header.startup h1 {
  font-size: 2rem; 
}

.rowAPI {
  text-align: -webkit-center;
  color: white;
}



.rowAPIABOUT {
  text-align: -webkit-center;
  color: white;
  padding-bottom: 100px;
}


.btn {
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 300px;
  font-family: 'Montserrat', sans-serif;
}

.btn-xl {
  padding: 1rem 2rem; 
  color: rgb(175, 167, 166);
  color: grey;
  /* border-color: grey; */
}

.btn-primary {
  background-color: rgb(229, 240, 136);
  border-color: rgb(229, 240, 136); }

.btn-primary:hover {
  background-color: rgb(229, 240, 136);
  border-color: rgb(229, 240, 136);
  border-width: 5px;
  cursor: pointer;
}
 
/* .col-md-8{
  float: left;
} */
.cardAbout {
  padding-top: 75px;
  margin-bottom: 50px;
  color: white;
}

#aboutHeader {
  text-align: center;
  padding-bottom: 20px;
  font-size: 56px;
  /* font-family: 'Gloria Hallelujah', cursive; */
  font-family: 'Gruppo', cursive;
}

#portfolioHeader {
  text-align: center;
  padding-top: 20px;
  /* font-family: 'Gloria Hallelujah', cursive; */
  font-family: 'Gruppo', cursive;
  color: white;
  font-size: 56px;
}

#contactHeader {
  text-align: center;
  padding-top: 5px;
  /* font-family: 'Gloria Hallelujah', cursive; */
  font-family: 'Gruppo', cursive;
  color: white;
  font-size: 56px;
  padding-bottom: 10px;
}

#title {
  text-align: center;
  padding-top: 8px;
  /* font-family: 'Gloria Hallelujah', cursive; */
  font-family: 'Gruppo', cursive;
  font-size: 56px;
}

#subtitle {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 24px;
  color: rgb(229, 240, 136);
}

.resume {
  text-align: center;
}

#resume {
  margin-bottom: 75px;
  text-align: center;
  margin-top: -100px;
}

.responsive{
  width: 75%;
  height: auto;
  border-radius: 10%;
}

.imageCenter{
  text-align: center;
}


img {
  width: 200px;
  height: 150px;
  margin: 10px;
  transition: all 1s;
}

img:hover {
  transform: scale(1.1);
}

#portImg {
  width: 200px;
  height: 150px;
  margin: 10px;
  transition: all 1s;
  border-radius: 30%;
 
}



/* Footer below */

.footer {
  /* clear: both; */
  position: absolute;
  background-color: rgb(229, 240, 136);
  text-align: center;
  color: rgb(175, 167, 166);
  border-top: 5px solid  rgb(175, 167, 166);
  overflow: hidden; 
  padding-top: 20px; 
  bottom: 0;
  width: 100%;
  height: 100px;
  /* line-height: 60px */
}

#copyRight {
  /* font-family: 'Gloria Hallelujah', cursive; */
  font-family: 'Share Tech', sans-serif;
  margin-top: 10px;
  padding-top: 10px;
  color: grey;
}

/* social footer */

.footer a {
  color: #70726F;
  font-size: 20px;
  padding: 10px;
  border-right: 1px solid #70726F;
  transition: all .5s ease;
}

.footer a:first-child {
  border-left: 1px solid #70726F;
}

.footer a:hover {
  color: white;
}

/* update  */
.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-container > div {
  margin: 55px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

#portTitle {
  text-align: -webkit-center;
  color: white;  
  font-family: 'Gruppo', cursive;
  font-size: 20px;
}

/* relevant styles */
.img__wrap {
  position: relative;
  height: 200px;
  width: 257px;
}

.img__description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(110, 150, 161);
  color: #e6f088;
  visibility: hidden;
  opacity: 0;
  font-size: 14px;
  font-family: 'Share Tech', sans-serif;
  line-height: 1.6;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.img__wrap:hover .img__description {
  visibility: visible;
  opacity: 1;
}
